- if rolls.size > 0

  %h2 Rolls with Results

  .well
    %table.table.table-striped
      %tr
        %th Roll
        %th For
        %th Against
        %th Other
        - if current_user
          %th Rep's Vote
        %th Result
      - rolls.each do |roll|
        %tr
          %td= link_to roll.title, roll_path(roll)
          - roll_result = roll.tally # is this the district tally
          %td= roll_result[:ayes]
          %td= roll_result[:nays]
          %td= roll_result[:other]
          - if current_user
            %td= current_user.reps_vote_on(roll)
          %td= roll.bill.passed? ? "Yes" : "No" # should be the full result

  = paginate rolls