- title "Districts"

.well
  %table.table.table-striped
    %tr
      %th District
      %th Rep. Name
      %th &nbsp;
      %th Rep. Party
    - @legislators.each do |legislator|
      %tr
        %td= link_to legislator.legislator_district.name, legislator.legislator_district
        %td= link_to legislator.full_name, legislator
        %td= image_tag legislator.image_location_small
        %td= legislator.party

= paginate @legislators

= render partial: "rolls_with_results", locals: {rolls: @rolls}