- title "#{@chamber.titleize} Results for 112 Congress"

- unless @rolls.empty? || @user.district.nil?

  %table.table.zebra-striped
    %tr
      %th Roll
      %th Your Vote
      - if @chamber == 'house'
        %th Your District Vote
        %th= "#{@user.representative.full_name}'s vote"
      - else
        %th= @user.us_state
        %th= "Senators #{@user.senators.map(&:lastname).to_sentence}"
      %th Result
    - @rolls.each do |roll|
      %tr
        %td= link_to roll.title, roll
        %td= roll.users_vote(@user)
        - if @chamber == 'house'
          %td= @user.district.format_votes_tally(roll)
          %td= @user.reps_vote_on(roll)
        - else
          %td= @pg_state.format_votes_tally(roll) unless @pg_state.nil?
          %td
            - @user.senators_vote_on(roll).each do |s|
              = "#{s[:name]}: #{s[:value]}"
              %br
        %td
          = roll.result

- else
  We are early in the 113th congress and there are no results yet for this area.