-title "States and Senators"

%h3 States

%table.table.table-striped
  %tr
    %th State
    %th Senior Senator
    %th Junior Senator
  - @states_with_senators.each do |state|
    %tr
      %td= link_to state[:state].name, state[:state]
      %td= link_to state[:senior_senator].lastname, state[:senior_senator]
      %td= link_to state[:junior_senator].lastname, state[:junior_senator]

= paginate @states_with_senators

= render partial: "rolls_with_results", locals: {rolls: @rolls}