= simple_form_for [parent, comment], :html => { :class => 'form-horizontal' } do |f|
  - if author.empty?
    = f.input :author
    = f.input :author_email
  - else
    = f.input :author, input_html: {value: author}
    = f.input :author_email, input_html: {value: author_email}
  = f.input :content, as: :text
  = f.input :user_ip, as: :hidden
  .form-actions
    = f.button :submit, :class => 'btn-primary'
