= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = f.input :name
    = f.input :state, collection: PolcoGroup.states.collect {|s| [s.name, s.id]}
    = f.input :district, collection: PolcoGroup.districts.collect {|s| [s.name, s.id]}
    =# f.input :custom_group_ids, collection: PolcoGroup.customs
    =# f.input :followed_group_ids, collection: PolcoGroup.all
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to 'Cancel', bills_path, :class => 'btn'
