= simple_form_for(@bill) do |f|
  = f.error_notification

  .form-inputs
    = f.input :bill_resolution_type
    = f.input :bill_type
    = f.input :congress
    = f.input :current_status
    = f.input :current_status_date
    = f.input :current_status_description
    = f.input :display_number
    = f.input :docs_house_gov_postdate
    = f.input :govtrack_id
    = f.input :introduced_date
    = f.input :is_alive
    = f.input :is_current
    = f.input :link
    = f.input :number
    = f.input :resource_uri
    = f.input :senate_floor_schedule_postdate
    = f.input :thomas_link
    = f.input :title
    = f.input :title_without_number

  .form-actions
    = f.button :submit
