

-title 'Listing bills'

= paginate @bills

%table.table.table-striped
  %tr
    %th{style: 'width: 80%'} Title
    %th Current status
    - if current_user.admin?
      %th
      %th
      %th

  - @bills.each do |bill|
    %tr
      %td= link_to bill.title_without_number, bill_path(bill)
      %td= CURRENT_STATUS[bill.current_status].gsub(/<em>.*<\/em>/,'')
      - if current_user.admin?
        %td= link_to 'Show', bill
        %td= link_to 'Edit', edit_bill_path(bill)
        %td= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' }

= paginate @bills

%br

- if current_user.admin?
  = link_to 'New Bill', new_bill_path
