%p#notice= notice

- title @bill.title

%p
  %strong Sponsor:
  = link_to @bill.sponsor.name, legislator_path(@bill.sponsor)

%ul
  %li Bill Title
  %li Long Title
  %li Summary (does this exist)
  %li Sponsor & District
  %li Bill Status

- unless @bill_text.nil?
  .well
    = @bill_text.html_safe
- else
  %p No bill text available

= render partial: 'comments/comments_section', locals: {parent: @bill, comment: @comment, author: @author, author_email: @email}

- if current_user.admin?
  = link_to 'Edit', edit_bill_path(@bill)
  \|
  = link_to 'Back', bills_path
