%p#notice= notice

- title @bill.title

%p
  %strong Sponsor:
  = link_to @bill.sponsor.name, legislator_path(@bill.sponsor)

%p
  %strong Introduced:
  = @bill.introduced_date.to_s

%p
  %strong Current status:
  = @bill.current_status_explanation

- if @bill.bill_text?
  %p
    Full bill text
    (
    = link_to 'html', @bill.bill_html_link, target: "_blank"
    |
    = link_to 'pdf', @bill.bill_pdf_link, target: "_blank"
    ) or
    = link_to "View on THOMAS", @bill.thomas_link

- else
  %p Bill text is not yet available

- unless @bill.rolls.empty?
  %h5 Rolls
  %ul
    - @bill.rolls.each do |roll|
      %li= link_to roll.title, roll_path(roll)

= render partial: 'comments/comments_section', locals: {parent: @bill, comment: @comment, author: @author, author_email: @email}

- if current_user.admin?
  = link_to 'Edit', edit_bill_path(@bill)
  \|
  = link_to 'Back', bills_path
