- title @legislator.full_title

.well
  = image_tag @legislator.image_location_medium

.well
  = "#{@legislator.title} #{@legislator.last_name}"
  is a
  = "#{@legislator.job}."

- if @latest_votes
  .well
    %h3 RECENT LEGISLATIVE ACTIVITY
    %table.table.zebra-striped
      %tr
        %th Title
        %th Vote
      - @latest_votes.each do |lv|
        %tr
          %th= link_to lv.bill.title, lv.bill
          %th= lv.value
- else
  No activity yet

.well
  %h3 COMMITTEE MEMBERSHIP

.well
  %h3 BILL SPONSORSHIP & COSPONSORSHIP


- # who is this person
- # Tim Booher
- # Senator from Wisconsin since 2012
- # Democrat
- # what bills has he sponsored?
- # how has he voted?
- # any other info available online?

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), legislators_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_legislator_path(@legislator), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), legislator_path(@legislator), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
