- title @legislator.name

.well
  = image_tag @legislator.image_location_medium

.well
  = "#{@legislator.name_no_details}"
  is a
  = "#{@legislator.job}."

%h4 Bills Sponsored

- unless @legislator.bills.empty?
  %ul
    - @legislator.bills.each do |bill|
      %li= link_to bill.title, bill_path(bill)

%h4 Recent voting activity

- unless @latest_votes.empty?
  .well
    %table.table.zebra-striped
      %tr
        %th Title
        %th Vote
      - @latest_votes.each do |lv|
        %tr
          %th= link_to lv.roll.title, lv.roll
          %th= lv.value
- else
  %p No voting activity yet

- # who is this person
- # Tim Booher
- # Senator from Wisconsin since 2012
- # Democrat
- # what bills has he sponsored?
- # how has he voted?
- # any other info available online?

= render partial: 'comments/comments_section', locals: {parent: @legislator, comment: @comment, author: @author, author_email: @email}

- if admin?
  .form-actions
    = link_to 'back', legislators_path, :class => 'btn'
    = link_to 'Edit', edit_legislator_path(@legislator), :class => 'btn'
    = link_to 'Destroy', legislator_path(@legislator), :method => "delete", :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
