- model_class = Subject
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:_type) + ':'
  %br
  = @subject._type
%p
  %strong= model_class.human_attribute_name(:_id) + ':'
  %br
  = @subject._id
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @subject.name

.form-actions
  = link_to 'back', subjects_path, :class => 'btn'
  = link_to 'Edit', edit_subject_path(@subject), :class => 'btn'
  = link_to 'Destroy', subject_path(@subject), :method => "delete", :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
