= simple_form_for @polco_group, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :type, collection: GROUP_TYPES
  = f.input :description
  = f.input :vote_count
  = f.input :follower_count
  = f.input :member_count
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to 'cancel', polco_groups_path, :class => 'btn'
