- title "Add Custom Group"

= simple_form_for @polco_group, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = f.input :name
    = f.input :type, value: :custom, as: :hidden
    = text_field_tag :add_custom_group, 'yes', {type: 'hidden'}
    = f.input :description, as: :text
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to 'cancel', polco_groups_path, :class => 'btn'