- title 'Polco Groups'

= paginate @polco_groups

%table.table.table-striped
  %thead
    %tr
      %th= sortable "name", "Name"
      %th= sortable "type", "Type"
      %th= sortable "description", "Description"
      %th= sortable "vote_count", "Votes"
      %th= sortable "follower_count", "Followers"
      %th= sortable "member_count", "Members"
      - if current_user.admin?
        %th Actions
  %tbody
    - @polco_groups.each do |polco_group|
      %tr
        %td= link_to polco_group.name, polco_group_path(polco_group)
        %td= polco_group.type
        %td= polco_group.description
        %td= polco_group.vote_count
        %td= polco_group.follower_count
        %td= polco_group.member_count
        - if current_user.admin?
          %td
            = link_to 'edit', edit_polco_group_path(polco_group), :class => 'btn btn-mini'
            = link_to 'destroy', polco_group_path(polco_group), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

- if current_user.admin? #can? :create, PolcoGroup
  = link_to 'New', new_polco_group_path, :class => 'btn btn-primary'

= paginate @polco_groups
