- title "#{@polco_group.type.to_s.titlecase} Group: #{@polco_group.proper_title}"

%h3 Group Description
%p= @polco_group.description

%h3
  Group Formation Date:
  = @polco_group.created_at.strftime('%B %e, %Y')

- if (@polco_group.type == :custom) && @polco_group.owner
  %h3
    Owned by:
    = link_to @polco_group.owner.name, @polco_group.owner

%p
%h3 Manage Group (if owner)

- if @polco_group.type == :district
  = render partial: "district_info", locals: {group: @polco_group}

%p
  %strong Votes:
  = @polco_group.vote_count
%p
  %strong Followers:
  = @polco_group.follower_count
%p
  %strong Members:
  = @polco_group.member_count

- if current_user.admin? || current_user.id == @polco_group.owner_id
  .form-actions
    = link_to 'back', polco_groups_path, :class => 'btn'
    = link_to 'edit', edit_polco_group_path(@polco_group), :class => 'btn'
    = link_to 'destroy', polco_group_path(@polco_group), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
