- title "#{@polco_group.type.to_s.titlecase} Group: #{@polco_group.proper_title}"

- unless @polco_group.description.nil? || @polco_group.description.empty?
  %h4 Group Description
  %p= @polco_group.description

%h4
  Group Formation Date:
  = @polco_group.created_at.strftime('%B %e, %Y')

- if (@polco_group.type == :custom) && @polco_group.owner
  %h4
    Owned by:
    = link_to @polco_group.owner.name, @polco_group.owner

- case @polco_group.type
  - when :district
    = render partial: "district_info", locals: {group: @polco_group}
  - when :state
    = render partial: "state_info", locals: {state: @polco_group}

%p
  %strong Votes:
  = @polco_group.vote_count

- if @rolls.size > 0
  %h3 Group Tally
  .well
    %table.table.table-striped
      %tr
        %th Roll
        %th For
        %th Against
        %th Other
        %th Result
      - @rolls.each do |roll|
        %tr
          %td= link_to roll.title, roll_path(roll)
          - roll_result = @polco_group.get_tally(roll) # is this the district tally
          %td= roll_result[:ayes]
          %td= roll_result[:nays]
          %td= roll_result[:other]
          %td= roll.bill.passed? ? "Yes" : "No" # should be the full result

= render partial: 'comments/comments_section', locals: {parent: @polco_group, comment: @comment, author: @author, author_email: @email}

%h4
  %span#member_count
    = @polco_group.member_count
  members

#the_members
  = render partial: "show_member", locals: {members: @polco_group.members}

- unless @user.has_joined(@polco_group)
  #join_group_region
    = render partial: "join_form", locals: {g: @polco_group, u: @user}
- else
  %p You have joined this group

%h4
  %span#follower_count
    = @polco_group.follower_count
  followers

#the_followers
  = render partial: "show_member", locals: {members: @polco_group.followers}

- unless @user.has_followed(@polco_group)
  #follow_group_region
    = simple_form_for :follow_group, url: '/polco_groups/follow_group', :html => { class: 'form-horizontal', id: 'follow_group_form' }, remote: true do |f|
      = f.input :user_id, as: :hidden, input_html: {value: @user.id}
      = f.input :polco_group_id, as: :hidden, input_html: {value: @polco_group.id}
      = f.button :submit, 'Follow Group', class: 'btn btn-danger'
- else
  %p You are following this group

- if @user.admin? || @user.id == @polco_group.owner_id
  .form-actions
    = link_to 'back', polco_groups_path, :class => 'btn'
    = link_to 'edit', edit_polco_group_path(@polco_group), :class => 'btn'
    = link_to 'destroy', polco_group_path(@polco_group), :method => "delete", :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
