%h4 District Tallies
.well
  %table.table.table-striped
    %tr
      %th District
      %th Tally
      %th Rep Vote
      %th Rep Name
      %th Party
    - districts.each do |d|
      %tr
        %td= link_to d.name, d
        %td= d.format_votes_tally(roll)
        %td= roll.find_member_vote(d.rep)
        %td= link_to d.rep.full_name, d.rep
        %td= d.rep.party