%table.table.table-striped
  %tr
    %th State
    %th Tally
    %th Senator Votes
    %th Names
    %th Party
  - states.each do |d|
    - # to do this row, we want to make sure there are results to show
    - if d.has_activity?(roll)
      %tr
        %td= link_to d.name, d
        %td= d.format_votes_tally(roll)
        %td= roll.find_member_vote(rep)
        %td= link_to rep.full_name, rep
        %td= rep.party