- title 'Rolls'

= paginate @rolls

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Result
      %th Aye
      %th Nay
      %th Other
      %th Vote Count
      - if current_user.admin?
        %th Actions
  %tbody
    - @rolls.each do |roll|
      %tr
        - if current_user.admin?
          %td= link_to roll.name, edit_roll_path(roll)
        - else
          %td= link_to roll.name, roll_path(roll)
        %td= roll.result
        %td= roll.aye
        %td= roll.nay
        %td= roll.other
        %td= roll.vote_count
        - if current_user.admin?
          %td
            = link_to 'Edit', edit_roll_path(roll), :class => 'btn btn-mini'
            = link_to 'Destroy', roll_path(roll), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

- if current_user.admin?
  = link_to 'New', new_roll_path, :class => 'btn btn-primary'

= paginate @rolls