- model_class = Roll
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:_type) + ':'
  %br
  = @roll._type
%p
  %strong= model_class.human_attribute_name(:_id) + ':'
  %br
  = @roll._id
%p
  %strong= model_class.human_attribute_name(:chamber) + ':'
  %br
  = @roll.chamber
%p
  %strong= model_class.human_attribute_name(:session) + ':'
  %br
  = @roll.session
%p
  %strong= model_class.human_attribute_name(:file_name) + ':'
  %br
  = @roll.file_name
%p
  %strong= model_class.human_attribute_name(:result) + ':'
  %br
  = @roll.result
%p
  %strong= model_class.human_attribute_name(:required) + ':'
  %br
  = @roll.required
%p
  %strong= model_class.human_attribute_name(:type) + ':'
  %br
  = @roll.type
%p
  %strong= model_class.human_attribute_name(:bill_type) + ':'
  %br
  = @roll.bill_type
%p
  %strong= model_class.human_attribute_name(:the_question) + ':'
  %br
  = @roll.the_question
%p
  %strong= model_class.human_attribute_name(:bill_category) + ':'
  %br
  = @roll.bill_category
%p
  %strong= model_class.human_attribute_name(:aye) + ':'
  %br
  = @roll.aye
%p
  %strong= model_class.human_attribute_name(:nay) + ':'
  %br
  = @roll.nay
%p
  %strong= model_class.human_attribute_name(:nv) + ':'
  %br
  = @roll.nv
%p
  %strong= model_class.human_attribute_name(:present) + ':'
  %br
  = @roll.present
%p
  %strong= model_class.human_attribute_name(:year) + ':'
  %br
  = @roll.year
%p
  %strong= model_class.human_attribute_name(:congress) + ':'
  %br
  = @roll.congress
%p
  %strong= model_class.human_attribute_name(:vote_count) + ':'
  %br
  = @roll.vote_count
%p
  %strong= model_class.human_attribute_name(:original_time) + ':'
  %br
  = @roll.original_time
%p
  %strong= model_class.human_attribute_name(:updated_time) + ':'
  %br
  = @roll.updated_time

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), rolls_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_roll_path(@roll), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), roll_path(@roll), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
