- title "#{@roll.title}"

- present @roll do |roll_presenter|
  .well
    = roll_presenter.vote_region

  - if @bill
    %h4
      = link_to @bill.title, bill_path(@bill)

  %p
    %strong Chamber:
    = @roll.chamber

  %h4 District Tallies
  .well
    = roll_presenter.activity

%h4 Joined and Followed Groups

%p Same thing, but for the joined and followed groups

- # district_tallies

%table.table.table-striped
  %tr
    %th Group name
    %th Description
    %th Tally
  - current_user.voting_groups.each do |group| # here is where we do the magic . . how have we done this previously?
    %tr
      %td= group.name
      %td= truncate(group.description, length: 70)
      %td= group.format_votes_tally(@roll)

= render partial: 'comments/comments_section', locals: {parent: @roll, comment: @comment, author: @author, author_email: @email}

- if current_user.admin?
  .form-actions
    = link_to 'back', rolls_path, :class => 'btn'
    = link_to 'Edit', edit_roll_path(@roll), :class => 'btn'
    = link_to 'Destroy', roll_path(@roll), :method => "delete", :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
