- title "#{@roll.title}"

- present @roll do |roll_presenter|
  .well
    = roll_presenter.vote_region

  - if @bill
    %h4
      = link_to @bill.title, bill_path(@bill)

  %p
    %strong Chamber:
    = @roll.chamber
  - if current_user
    = roll_presenter.districts_or_states(@districts)

    = roll_presenter.groups(@voting_groups)

= render partial: 'comments/comments_section', locals: {parent: @roll, comment: @comment, author: @author, author_email: @email}

- if admin?
  .form-actions
    = link_to 'back', rolls_path, :class => 'btn'
    = link_to 'Edit', edit_roll_path(@roll), :class => 'btn'
    = link_to 'Destroy', roll_path(@roll), :method => "delete", :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
