!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Polco"
    = include_gon
    %script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyB0TqAnoS48viBFjft21hyyhGnpXgWMCtw&sensor=false", :type => "text/javascript"}
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="/favicon.ico" rel="shortcut icon")

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        #container.container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Polco
          .container.nav-collapse
            %ul.nav
              %li= link_to "info", home_polco_info_path
              %li= link_to "bills", bills_path
              - if current_user && current_user.admin?
                %li= link_to "legislators", legislators_path
                %li= link_to "legislator votes", legislator_votes_path
                %li= link_to "polco groups", polco_groups_path
                %li= link_to "rolls", rolls_path
                %li= link_to "subjects", subjects_path
                %li= link_to "vote", votes_path
              - if current_user
                %li= link_to "Add Custom Group", polco_groups_add_custom_group_path
                %li= link_to current_user.name, user_path(current_user)
                %li= link_to "sign out", signout_path
              - else
                %li= link_to "sign in", signin_path

    .container
      .row
        .span9
          = bootstrap_flash
          - if content_for?(:title)
            %section{id: yield(:title)}
              .page-header
                %h2= yield(:title)
          = yield
        .span3
          %ul.nav.nav-tabs.nav-stacked{style: "padding-top: 100px;"}
            %li= link_to "House Bills", represent_house_bills_path
            %li= link_to "District + Reps", represent_legislators_districts_path
            - if current_user
              %li= link_to "H Representation", results_path(:house)
            %li= link_to "Senate Bills", represent_senate_bills_path
            %li= link_to "States", represent_states_path
            - if current_user
              %li= link_to "S Representation", results_path(:senate)
          - if content_for?(:sidebar)
            = yield(:sidebar)
    
      %footer
        %p &copy; Nick, Tom, and Tim 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
